<div class="channel">
    <p class="hashtag">#</p>
    <p class="genre"><a href="/channel/edm">edm</a></p>
    <p class="members">20 members</p>
</div>
<div class="channel">
    <p class="hashtag">#</p>
    <p class="genre"><a href="/channel/rock">rock</a></p>
    <p class="members">20 members</p>
</div>
