<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/header.ejs') %>
    <section class="channels_list">
      <div>
        <h2>Support Topics</h2>
        <input id="search_channels" class="search" type="text" placeholder="Search Channels">
        <div class="channel_item" data-channel="housing-support">
          <p class="hashtag">#</p>
          <p class="topic"><a href="/channel/housing-support">housing-support</a></p>
        </div>
        <div class="channel_item" data-channel="looking-for-work">
            <p class="hashtag">#</p>
            <p class="topic"><a href="/channel/looking-for-work">looking-for-work</a></p>
        </div>
        <div class="channel_item" data-channel="mental-health">
          <p class="hashtag">#</p>
          <p class="topic"><a href="/channel/mental-health">mental-health</a></p>
        </div>
        <div class="channel_item" data-channel="va-resources">
            <p class="hashtag">#</p>
            <p class="topic"><a href="/channel/va-resources">va-resources</a></p>
        </div>
        <div class="channel_item" data-channel="disability-claims">
          <p class="hashtag">#</p>
          <p class="topic"><a href="/channel/disability-claims">disability-claims</a></p>
        </div>
        <div class="channel_item" data-channel="veteran-networking">
            <p class="hashtag">#</p>
            <p class="topic"><a href="/channel/veteran-networking">veteran-networking</a></p>
        </div>
        <div class="channel_item" data-channel="general-conversation">
          <p class="hashtag">#</p>
          <p class="topic"><a href="/channel/general-conversation">general-conversation</a></p>
        </div>
        <div class="channel_item" data-channel="veteran-singles">
          <p class="hashtag">#</p>
          <p class="topic"><a href="/channel/veteran-singles">veteran-singles</a></p>
        </div>
    </div>
    </section>
    <script src="/js/search.js"></script>
</body>
</html>