<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/header.ejs') %>
    <section class="channels_list">
      <div>
        <h2>Support Topics</h2>
        <input class="search" type="text" placeholder="Search Channels">
        <div class="channel_item" data-channel="edm">
          <p class="hashtag">#</p>
          <p class="topic"><a href="/channel/edm">edm</a></p>
        </div>
        <div class="channel_item" data-channel="rock">
            <p class="hashtag">#</p>
            <p class="topic"><a href="/channel/rock">rock</a></p>
        </div>
        <div class="channel_item">
          <p class="hashtag">#</p>
          <p class="topic"><a href="/channel/metal">metal</a></p>
        </div>
        <div class="channel_item">
            <p class="hashtag">#</p>
            <p class="topic"><a href="/channel/lo-fi">lo-fi</a></p>
        </div>
        <div class="channel_item">
          <p class="hashtag">#</p>
          <p class="topic"><a href="/channel/gaming">gaming</a></p>
        </div>
        <div class="channel_item">
            <p class="hashtag">#</p>
            <p class="topic"><a href="/channel/rap">rap</a></p>
        </div>
        <div class="channel_item">
          <p class="hashtag">#</p>
          <p class="topic"><a href="/channel/alternative">alternative</a></p>
        </div>
        <div class="channel_item">
          <p class="hashtag">#</p>
          <p class="topic"><a href="/channel/alternative">alternative</a></p>
        </div>
        <div class="channel_item">
          <p class="hashtag">#</p>
          <p class="topic"><a href="/channel/alternative">alternative</a></p>
        </div>
        <div class="channel_item">
          <p class="hashtag">#</p>
          <p class="topic"><a href="/channel/alternative">alternative</a></p>
        </div>
    </div>
    </section>
</body>
</html>