

<%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <section>
            <h2>Sorry, we ran into an issue.</h2>
            <p><%= error %></p>
        </section>
    </body>
</html>