<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <section class="main">
    <h1><%= title %></h1>
    <button type="submit" class="siwg">
      <a href="/auth/spotify" class="siwg-link right item">
        Sign in with Spotify
      </a>
    </button>
  </section>
</body>
</html>
