<%- include('./partials/head.ejs') %>
<body>
  <section class="main">
    <h1 class="logo"><span>Vet</span>Net</h1>
    
    <p><i class="fas fa-flag-usa"></i><br/>Join our network of veterans and patriots to get support and provide help.</p>

    <button class="button google flex justify-center align-center" onclick="window.location = '/auth/google'"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" class="flex self-center pr2"> Login with Google</button>
  </section>
</body>
</html>
