<%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <form method="POST" action="/profile/verify">
            <h2>Verify Your Veteran Status</h2>
            <p>This form is secured, with verfication provided by Veteran Affairs.</p>
            <img class="va-logo" src="/images/va-logo.png" />
            <div>
                <input class="username" id="username" name="username" value="<%= user.profile.username %>" type="text" placeholder="Enter Username">
            </div>
        </form>

    <!-- <form method="POST" action="/profile/verify">
        <input type="text" name="first_name" placeholder="First Name" />
        <input type="text" name="last_name" placeholder="Last Name" />
        <input type="text" name="dob" placeholder="YYYY-MM-DD" />
        <input type="text" name="social" placeholder="Social Security Number" />
        <button type="submit">Submit</button>
    </form> -->
</body>
</html>