body {
    margin: 0 auto;
    background: #fff;
    width: 428px;
    height: 100vh;
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.95);
    overflow-y: scroll;
}

body.bcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
body.left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}