

div.icons {
    border: solid 1px red;
    width: 40%;
    height: 60px;
}







.content div {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #595959;
}









div.popular_song {
    display: inline;
}