

div.icons {
    border: solid 1px red;
    width: 40%;
    height: 60px;
}





div.content {
    width: 310px;
    margin: 0px;
    padding: 15px 0px 20px;
    white-space: normal;
    word-wrap: break-word;
}

.content div {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #595959;
}

div#chatroom {
    height: calc(100vh - 120px);
    overflow-y: scroll;
}

div.flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}

div.message_output {
    display: flex;
    padding: 0px;
    height: auto;
    width: 100%;
    margin: 0px;
    border-top: 1px solid #f0f0f0;
}



div.popular_song {
    display: inline;
}