input {
    width: calc(100% - 10px);
    background: #fff;
    border: 3px solid #1D88D2;
    border-radius: 5px;
    color: #000;
    margin-bottom: 15px;
    font-weight: 700;
}

input::placeholder {
    font-weight: 400;
    color: #96A0AA;
}

input:focus {
    border: 3px solid #1D88D2;
    outline: none;
    box-shadow: 0 10px 20px 0 #acc1d4;
    outline: 3px dashed #96A0AA;
    outline-offset: 3px;
}

input.username{
    height: 60px;
    font-size: 24px;
    text-align: center;
}

input.search {
    height: 50px;
    font-size: 18px;
    text-align: left;
    text-indent: 20px;
}

textarea {
    height: 100px;
    resize: none;
    border: 3px solid #1D88D2;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.profile-edit {
    width: 100%;
    height: auto;
}

#edit-profile-form {
    display: flex;
    flex-direction: column;
}

#edit-profile-form > .username {
    width: 328px;
}

#edit-profile-form > .custom-select-wrapper {
    width: 338px;
}

#edit-profile-form > textarea {
    width: 292px;
}

textarea:focus {
    outline: 3px dashed #96A0AA;
    outline-offset: 3px;
    box-shadow: 0 10px 20px 0 #acc1d4;
}

#edit-profile-form > button {
    margin: 20px 0;
    width: 338px;
}

form h2 {
    font-weight: 700;
}

#edit-profile-form > div {
    margin: 5px;
}

#edit-profile-form .custom-select-wrapper {
    height: auto;
}