input {
    width: calc(100% - 10px);
    background: #fff;
    border: 3px solid #1D88D2;
    border-radius: 5px;
    color: #000;
    margin-bottom: 15px;
    font-weight: 700;
}

input::placeholder {
    font-weight: 400;
    color: #96A0AA;
}

input:focus {
    border: 3px solid #1D88D2;
    outline: none;
    box-shadow: 0 10px 20px 0 #acc1d4;
    outline: 3px dashed #96A0AA;
    outline-offset: 3px;
}

input.username{
    height: 60px;
    font-size: 24px;
    text-align: center;
}

input.search {
    height: 50px;
    font-size: 18px;
    text-align: left;
    text-indent: 20px;
}

/* div.message_input {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 10px;
    height: 80px;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-wrap: break-word;
} */

/* textarea#message {
    color: #000;
    border: 3px solid #4bbe43;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    height: auto;
    font-size: 16px;
    text-align: start;
    z-index: 20;
    outline: none;
    resize: none;
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px;
} */
