img.profile-lg {
    object-fit: cover;
}

img.profile-lg {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}



.album_image {
    height: 50px;
    width: 50px
}

.va-logo {
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-bottom: 0px;
}