p.welcome {
    padding-bottom: 25px;
}



p.members {
    text-align: right;
    height: 0px;
    width: 40%;
}

#isTyping {
    margin: 0;
    padding: 0;
}

p.username {
    color: #4bbe43;
    padding: 0px;
    margin: 0px;
}

p.text {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

p#username {
    color: #4bbe43;
    padding: 0px;
    margin-bottom: 10px;
}

p#text {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}