p.welcome {
    padding-bottom: 25px;
}

p.hashtag {
    font-size: 18px;
    height: 0px;
    width: 5%;
}

p.genre {
    text-align: left;
    height: 0px;
    width: 60%;
    text-decoration: none;
    color: #000;
}

p.members {
    text-align: right;
    height: 0px;
    width: 40%;
}

#isTyping {
    margin: 0;
    padding: 0;
}

p.username {
    padding: 2px;
    margin: 0px;
}

p.text {
    padding: 0px;
    margin: 0px;
}

p.username {
    color: #4bbe43;
}