section {
    padding: 20px;
}

.main {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.channels {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 0px;
    width: 100%;
}
  
section.center,
#setUsername {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

section.channel_list,
section.chatroom_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 15px;
    height: 100px;
}

section.chatroom_container {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    height: calc(100vh - 80px)
}

section.most_popular {
    
}