@import url('colors.css');
@import url('typography.css');
@import url('forms.css');
@import url('sections.css');
@import url('body.css');
@import url('paragraph.css');
@import url('divs.css');

html {
  background: url('../images/duotone-green.png') no-repeat center center fixed;
  background-size: cover;
}


button {
  width: 90%;
  height: 60px;
  background: #000;
  border: none;
  border-radius: 35px;
}

a {
  text-decoration: none;
}

header {
  background: #000;
  width: 100%;
}

img.header {
  padding: 15px
}