@import url('colors.css');
@import url('typography.css');
@import url('forms.css');
@import url('sections.css');
@import url('body.css');
@import url('paragraph.css');
@import url('divs.css');
@import url('images.css');
@import url('icons.css');
@import url('./components/buttons.css');
@import url('./components/navigation.css');
@import url('./components/channel_item.css');

html {
  background: url('../images/61025b686e91d.jpeg') no-repeat center center fixed;
  background-size: cover;
}


/* button {
  width: 90%;
  height: 60px;
  background: #000;
  border: none;
  border-radius: 35px;
  cursor: pointer;
} */

a {
  text-decoration: none;
}



h3.channel_name {
  color: #fff;
  background: #1a1414;
  height: auto;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: auto;
}

.date {
  color: #595959;
}