@import url('colors.css');
@import url('typography.css');
@import url('forms.css');
@import url('sections.css');
@import url('body.css');
@import url('paragraph.css');
@import url('divs.css');
@import url('images.css');
@import url('icons.css');

html {
  background: url('../images/duotone.png') no-repeat center center fixed;
  background-size: cover;
}


button {
  width: 90%;
  height: 60px;
  background: #000;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  background: #000;
  width: 100%;
}

img.header {
  padding: 15px
}

h3.channel_name {
  /* display: flex; */
  /* justify-self: flex-start !important;
  align-self: flex-start; */
  margin-bottom: auto;
  border: 1px solid red;
}