

/* #chatroom {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: calc(100vh - 86px - 55px - 66px)
} */

h3.channel_name {
    color: #ffffff;
    background: #00275a;
    height: auto;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: auto;
  }

/* div.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
} */
.message_output {
  position: relative;
}

.message_output:hover > .message-menu {
  color: #E32226;
}

.message-menu {
  position: absolute;
  top: calc(50% - 16px);
  right: 25px;
  color: #D8D9DB;
}

.message-menu-container {
  position: absolute;
  right: 20px;
  top: -12px;
  display: none;
  width: 110px;
  font-size: 14px;
  text-align: center;
  background: #E32226;
  color: #FFF;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 10px 20px 0 #a3a7ac;
  font-family: 'Open Sans', sans-serif;
}

.message-menu-container.showing {
  display: block;
}

.message-menu-container a {
  color: #FFF;
}

.message-menu-container:hover {
  background: #ee3134;
}