

/* #chatroom {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: calc(100vh - 86px - 55px - 66px)
} */

h3.channel_name {
    color: #ffffff;
    background: #00275a;
    height: auto;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: auto;
  }

/* div.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
} */
